html {
  height: 100%;
}

body {
  background-color:rgb(220, 181, 202);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main {
  text-align: center;
  color: rgb(46, 44, 44);
}

#datetime {
  background-color: rgb(172, 205, 164);
  width: 300px;
  margin: auto;
  border: 1px solid grey;
}

body {
  background-color: #ffffff;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 40px ), repeating-linear-gradient( #FAF0E655, #FAF0E6 );
}